.inquireDetail {
    /* 높이를 auto로 변경하여 컨텐츠에 맞게 높이가 조절되도록 함 */
    height: auto;
    margin-bottom: 100px; /* 컨텐츠 하단에 패딩 추가 */
}

.inquireDetailBox{
    width: 45%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.writeTitle{
    width: 70%;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
    font-size: 18px;
}

.writeContent{
    width: 70%;
    height: 500px;
    resize: none;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.adminComentBox{
    margin-top: 100px;
}

.adminComent{
    width: 70%;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
    margin-left: 120px;
    font-size: 18px;
}