.write {
    /* 높이를 auto로 변경하여 컨텐츠에 맞게 높이가 조절되도록 함 */
    height: auto;
    margin-bottom: 100px; /* 컨텐츠 하단에 패딩 추가 */
  }

.writeName{
    font-size: 32px;
    color: #824600;
    margin-left: 300px; /* 왼쪽 마진 조정 */
    margin-top: 50px; /* 상단 마진을 조정하여 공간 확보 */
}

.writeBox{
    width: 45%;
    margin: auto;
    text-align: center;
}

.writeTitle{
    width: 70%;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
    font-size: 18px;
}

.writeContent{
    width: 70%;
    height: 500px;
    resize: none;
    padding: 8px;
    border: solid 1px gray;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.createBtnBox{
    float: right;
    margin: 20px 120px 50px 0;
}

.createBtn{
    background-color: #EB9A0E;
    border: solid 1px #EB9A0E;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 14px;
}