/* 고객센터 게시판의 전체 레이아웃 스타일링 */
.inquire {
  /* 높이를 auto로 변경하여 컨텐츠에 맞게 높이가 조절되도록 함 */
  height: auto;
  padding-bottom: 50px; /* 컨텐츠 하단에 패딩 추가 */
}

/* 고객센터 제목 스타일링 */
.inquireName {
  font-size: 32px;
  color: #824600;
  margin-left: 300px; /* 왼쪽 마진 조정 */
  margin-top: 50px; /* 상단 마진을 조정하여 공간 확보 */
}

.inquireBtnBox{
  float: right;
  margin-right: 300px;
}

.inquireBtn{
  background-color: #EB9A0E;
  border: solid 1px #EB9A0E;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
}

.inquireMain{
  margin: auto;
  margin-top: 80px;
  width: 70%;
}

.colum1{
  width: 20px;
}

.colum2{
  width: 150px;
}

.colum3{
  width: 50px;
}