/* BookContent.css */

.book-content { /*메인 box*/
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
  }

  .contentImgBox{ /* 이미지 표지 box */
    width: 20%;
  }

  .contentImg{ /* 이미지 표지 그림 */
    width: 300px;
  }

  .contentListBox{ /* 상세 내용 리스트 */
    margin-top: 30px;
  }

  .fairytaleName{ /* 동화 제목 */
    font-size: 21px;
  }
  
  .contentList p{
    display: inline-block;
  }

  .listName{
    width: 100px;
  }