@media screen and (max-width: 1024px) {
    /* 노트북 및 태블릿 화면 크기에 맞는 스타일 조정 */
}

@media screen and (max-width: 768px) {
    /* 태블릿 및 대형 스마트폰 화면 크기에 맞는 스타일 조정 */
}

@media screen and (max-width: 480px) {
    /* 중소형 스마트폰 화면 크기에 맞는 스타일 조정 */
}
.searchPage h2 {
    font-size: 32px;
    color: #000000;
    margin: auto;
    height: auto;
    margin-top: 20px;
    text-align: center; /* 텍스트를 가운데로 정렬합니다. */
    
    /* 필요하다면 추가 스타일링을 여기에 추가합니다. */
}


/* 검색 결과를 담는 컨테이너의 스타일을 정의합니다.
   flex-wrap 속성을 사용하여 항목이 컨테이너 너비를 초과할 경우 다음 줄로 넘어가게 합니다. */
   .searchResultsContainer {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: auto; /* 높이를 auto로 변경하여 컨텐츠에 맞게 높이가 조절되도록 함 */
    padding-bottom: 50px; /* 컨텐츠 하단에 패딩 추가 */
    justify-content: center; /* 항목들을 가운데 정렬합니다. */
    gap: flex-start; /* 항목 사이의 간격을 정합니다. */
    padding: 50px; /* 컨테이너의 내부 여백을 추가합니다. */
}

/* 각 검색 결과 항목의 스타일을 정의합니다.
   flex-direction 속성으로 요소들을 세로로 정렬합니다. */
.searchResultItem {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 항목을 가운데 정렬합니다. */
    width: 200px; /* 항목의 너비를 정합니다. */
    background-color: #fff; /* 배경색을 흰색으로 설정합니다. */
    overflow: hidden; /* 내용이 넘칠 경우 숨깁니다. */
}

/* 검색 결과 이미지의 스타일을 정의합니다. */
.searchThumbnail {
    width: 100%; /* 이미지의 너비를 자동으로 설정하여 비율 유지 */
    max-width: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
    height: 200px; /* 이미지의 높이를 자동으로 조절 */
}

/* 검색 결과 제목의 스타일을 정의합니다. */
.searchResultItem h3 {
    margin: 10px; /* 상하좌우 여백을 추가합니다. */
    font-size: 1rem; /* 폰트 크기를 정합니다. */
    color: #333; /* 폰트 색상을 어두운 회색으로 설정합니다. */
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
}
