/* Chatbot.css */
/* 챗봇 토글 버튼 스타일 */
.toggleButtonStyle {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px; /* 버튼 크기 */
    height: 60px; /* 버튼 크기 */
    border-radius: 50%; /* 원형으로 만들기 */
    border: none;
    cursor: pointer;
    background-color: transparent; /* 배경색 투명 */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 스타일 */
.iconStyle {
    width: 100%; /* 이미지를 버튼 크기에 맞게 조절 */
    height: 100%; /* 이미지를 버튼 크기에 맞게 조절 */
    border-radius: 50%; /* 이미지를 원형으로 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
}

.chatContentStyle {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000; /* Chatbot 위에 표시되도록 z-index 설정 */
}

/* .inputStyle {
}

.sendButtonStyle {
} */
.chat-content { height: 350px; overflow-y: scroll;}
.line { margin-top: 10px; display: flex;}
.chat-box{ background-color: #eee; padding: 5px; max-width: 200px;}
.mine {margin-left: auto;}
